:root{
    --primary: #015adf;
    --secondary: #7ab9f9;
    --dark: #032343;
    --light: #ffffff;
    --accent: #7c5e03;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: var(--secondary);
    color: var(--dark);
    line-height: 1.6;
    padding-bottom: 60px; /* space for bottom menu */
}
header {
    position: fixed;
      background: var(--primary);
      color: var(--light);
      padding: 15px 20px;
      position: sticky;
      top: 0;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
 header .logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: var(--light);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}
nav ul li a:hover {
    color: var(--accent);
}
.bottom-nav {
    display: none;
}

.bottom-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background: var(--primary);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
}

.bottom-nav ul li a {
    color: var(--light);
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.bottom-nav ul li a:hover {
    color: var(--accent);
}
.About .About1{
    width: 50%;
    text-align: center;
    padding: 30px 30px;
    display: inline-block;
}
.About img{
    display: inline-block;
    width: 300px;
    height: 300px;
    border-radius: 200px;
    border-color:var(--dark);
    border-style: solid;
    border-width: 10-px;
}
.About{
    display: flex;
    text-align: justify;
    padding: 70PX 70PX;
}
.About .IMAGE{
    padding-left: 25%;
}
.About .CV{
    text-decoration: none;
    color: var(--light);

}
.About button{
    width: 400px;
    height: 50px;
    background-color: var(--dark);
    border-radius: 12px;
    transition: 0.9s;
}
.About .button{
    padding: 40px 60px;

}
.About button:hover{
    width: 200px;
}
.SKILLS button{
    width: 200px;
    height: 50px;
    size: 50px;
    background-color: var(--dark);
    transition: 0.5s;
    border-radius: 12px;
}
.SKILLS button h1{
    color: var(--secondary);
}
.skills div{
    padding: 30px 30px;
    display: inline-block;
}
.skills button:hover{
    width: 250px;
}

